<div class='container-fluid'>
  <h3>Web service - Gestão de Eventos</h3>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Tecnolgias utilizadas:</strong> Spring Boot, Maven, JDK11, Tomcat, Mysql,
      Spring Data JPA, Hibernate, Angular 11 e Bootstrap</li>
    <li class="list-group-item"><strong>Professor:</strong> Ciro Cirne Trindade</li>
    <li class="list-group-item"><strong>Alunos:</strong></li>
  </ul>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>RA</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Antonio Ferreira</td>
        <td>0050831911001</td>
        <td>antonio.ferreira7@fatec.sp.gov.br</td>
      </tr>
      <tr>
        <td>Enzo Nakashima</td>
        <td>0050831911008</td>
        <td>enzo.nakashima@fatec.sp.gov.br</td>
      </tr>
      <tr>
        <td>Ivan Guimarães</td>
        <td>0050831911016</td>
        <td>ivan.silva46@fatec.sp.gov.br</td>
      </tr>
      <tr>
        <td>Nathália de Souza</td>
        <td>0050831911042</td>
        <td>nathalia.souza7@fatec.sp.gov.br</td>
      </tr>
      <tr>
        <td>Stephan Güter</td>
        <td>0050831911033</td>
        <td>stephan.cunha@fatec.sp.gov.br</td>
      </tr>
    </tbody>
  </table>
</div>