.container-fluid{
  margin: 6px;
}

h2{
  font-weight: 700;
}

h4{
  font-weight: 700;
  cursor: pointer;
}

h4:hover{
  color: rgb(82, 81, 81)
}

label{
  margin-top: 6px;
}

#icon{
  color: black;
}

input{
  max-width: 70vw;
  margin-bottom: 6px;
}

#event{
  margin-bottom: 8px;
  border-bottom: 1px solid rgb(209, 209, 209);
  padding: 10px 0;
}

.form{
  margin-top: 6px;
}

#search{
  margin-top: 6px;
  width: 400px;

  border: none;
  border-bottom: 1px solid black;
  outline: none;
}


 #search:focus
 {
  border-bottom: 2px solid black;
  padding: 5px;
}